blinker==1.6.2
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
filelock==3.9.0
Flask==2.3.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
llvmlite==0.40.1
MarkupSafe==2.1.2
more-itertools==10.1.0
mpmath==1.2.1
networkx==3.0
numba==0.57.1
numpy==1.24.1
openai-whisper @ git+https://github.com/openai/whisper.git@e8622f9afc4eba139bf796c210f5c01081000472
Pillow==9.3.0
pydantic==1.10.12
regex==2023.8.8
requests==2.28.1
sympy==1.11.1
tiktoken==0.3.3
# torch==2.0.1+cu118
# torchaudio==2.0.2+cu118
# torchvision==0.15.2+cu118
tqdm==4.66.1
typing_extensions==4.4.0
urllib3==1.26.13
voicevox_core @ https://github.com/VOICEVOX/voicevox_core/releases/download/0.14.4/voicevox_core-0.14.4+directml-cp38-abi3-win_amd64.whl#sha256=8c81bd602c422d6c3ee885260a2ab318630349d73526d53f3399583b3f10d4c9
Werkzeug==2.3.7
